
<div class="summary-top">
	<div class="summary-top-right">
		<ul class="profile-view-options">
			<li> <a href="/character/Neevi/advanced" class="advanced"><i class="fa fa-search"></i> Erweitert</a> </li>
			<li class="current"> <a href="/character/Neevi/simple" class="simple"><i class="fa fa-user"></i> Einfach</a> </li>
		</ul>
		<div class="summary-averageilvl">
			<div class="rest"> Durchschnittliche Gegenstandsstufe<br />
				(<span class="equipped">708</span> ausgerüstet) </div>
			<div id="summary-averageilvl-best" class="best tip" data-id="averageilvl">710</div>
		</div>
	</div>
	<div class="summary-top-inventory">
		<div id="summary-inventory" class="summary-inventory summary-inventory-advanced" style="background: url('{EQDKP_ROOT_PATH}games/wow_assasinen/images/character/10-1.jpg') no-repeat center center;">
			<div data-id="0" data-type="1" class="slot slot-1 item-quality-4" style=" left: 0px; top: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/115545/raid-mythic" class="item" data-item="set=115545,115547,115548,115549&amp;d=96&amp;pl=100&amp;cc=6&amp;bl=567"><img src="http://media.blizzard.com/wow/icons/56/inv_helm_mail_raidhuntermythic_o_01.jpg" alt="" /><span class="frame"></span></a> </div>
				</div>
			</div>
			<div data-id="1" data-type="2" class="slot slot-2 item-quality-4" style=" left: 0px; top: 58px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/113865/raid-mythic" class="item" data-item="e=5317&amp;pl=100&amp;cc=6&amp;bl=41,567"><img src="http://media.blizzard.com/wow/icons/56/inv_6_0raid_necklace_4d.jpg" alt="" /><span class="frame"></span></a> </div>
				</div>
			</div>
			<div data-id="2" data-type="3" class="slot slot-3 item-quality-4" style=" left: 0px; top: 116px;">
				<div class="slot-inner">
					<div class="slot-contents">
						<a href="/wow/de/item/115547/raid-mythic" class="item" data-item="g0=115809&amp;set=115545,115547,115548,115549&amp;d=98&amp;t=50698&amp;pl=100&amp;cc=6&amp;bl=565,567">
							<img src="http://media.blizzard.com/wow/icons/56/inv_shoulder_mail_raidhuntermythic_o_01.jpg" alt="" />
							<span class="frame"></span>
						</a>
						<a class="transmog-frame" data-item="t=50698&amp;cc=0" href="/wow/de/item/50698"></a>
						
						<!-- wenn advanced active -->
						<div class="details">
							<span class="name-shadow">Schulterstücke der wilden Jagd</span>
							<span class="name item-q4">
								<a href="/wow/de/item/124307/raid-heroic" data-item="g0=127760&amp;set=124296,124307,124284,124301&amp;d=87&amp;t=50698&amp;pl=100&amp;cc=5&amp;bl=564,566">Schulterstücke der wilden Jagd</a>
							</span>
							
							<span class="enchant-shadow">Gabe des kritischen Trefferwerts</span>
							<div class="enchant item-q2">
								<a href="/wow/de/item/110652">Gabe des kritischen Trefferwerts</a>
							</div>
							
							<span class="level">710</span>
								<span class="sockets">
									<span class="icon-socket socket-14">
											<a href="/wow/de/item/127760" class="gem">
												<img src="http://media.blizzard.com/wow/icons/18/inv_jewelcrafting_immactaladite_yellow.jpg" alt="" />
												<span class="frame"></span>
											</a>
									</span>
								</span>
						</div>
						<!-- advanced active -->
						
					</div>
				</div>
			</div>
			<div data-id="14" data-type="16" class="slot slot-16 item-quality-4" style=" left: 0px; top: 174px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/124134/raid-heroic" class="item" data-item="e=5310&amp;pl=100&amp;cc=5&amp;bl=41,566"><img src="http://media.blizzard.com/wow/icons/56/inv_cape_felfireraid_d_03.jpg" alt="" /><span class="frame"></span></a> </div>
				</div>
			</div>
			<div data-id="4" data-type="5" class="slot slot-5 item-quality-4" style=" left: 0px; top: 232px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/115548/raid-mythic" class="item" data-item="set=115545,115547,115548,115549&amp;d=163&amp;t=50723&amp;pl=100&amp;cc=6&amp;bl=567"><img src="http://media.blizzard.com/wow/icons/56/inv_chest_mail_raidhuntermythic_o_01.jpg" alt="" /><span class="frame"></span></a> <a class="transmog-frame" data-item="t=50723&amp;cc=0" href="/wow/de/item/50723"></a> </div>
				</div>
			</div>
			<div data-id="3" data-type="4" class="slot slot-4" style=" left: 0px; top: 290px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="javascript:;" class="empty"><span class="frame"></span></a> </div>
				</div>
			</div>
			<div data-id="18" data-type="19" class="slot slot-19" style=" left: 0px; top: 348px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="javascript:;" class="empty"><span class="frame"></span></a> </div>
				</div>
			</div>
			<div data-id="8" data-type="9" class="slot slot-9 item-quality-4" style=" left: 0px; top: 406px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/124314/raid-heroic" class="item" data-item="pl=100&amp;cc=5&amp;bl=566"><img src="http://media.blizzard.com/wow/icons/56/inv_bracer_mail_raidhunter_p_01.jpg" alt="" /><span class="frame"></span></a> </div>
				</div>
			</div>
			<div data-id="9" data-type="10" class="slot slot-10 slot-align-right item-quality-4" style=" top: 0px; right: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/115549/raid-mythic" class="item" data-item="set=115545,115547,115548,115549&amp;d=53&amp;t=50703&amp;pl=100&amp;cc=6&amp;bl=567"><img src="http://media.blizzard.com/wow/icons/56/inv_glove_mail_raidhuntermythic_o_01.jpg" alt="" /><span class="frame"></span></a> <a class="transmog-frame" data-item="t=50703&amp;cc=0" href="/wow/de/item/50703"></a> </div>
				</div>
			</div>
			<div data-id="5" data-type="6" class="slot slot-6 slot-align-right item-quality-4" style=" top: 58px; right: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/124309/raid-heroic" class="item" data-item="t=78285&amp;pl=100&amp;cc=5&amp;bl=566"><img src="http://media.blizzard.com/wow/icons/56/inv_belt_mail_raidshaman_p_01.jpg" alt="" /><span class="frame"></span></a> <a class="transmog-frame" data-item="t=78285&amp;cc=0" href="/wow/de/item/78285"></a> </div>
				</div>
			</div>
			<div data-id="6" data-type="7" class="slot slot-7 slot-align-right item-quality-4" style=" top: 116px; right: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/124300/raid-heroic" class="item" data-item="t=78280&amp;pl=100&amp;cc=5&amp;bl=566"><img src="http://media.blizzard.com/wow/icons/56/inv_pant_mail_raidshaman_p_01.jpg" alt="" /><span class="frame"></span></a> <a class="transmog-frame" data-item="t=78280&amp;cc=0" href="/wow/de/item/78280"></a> </div>
				</div>
			</div>
			<div data-id="7" data-type="8" class="slot slot-8 slot-align-right item-quality-4" style=" top: 174px; right: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/124287/raid-heroic" class="item" data-item="d=78&amp;t=78279&amp;pl=100&amp;cc=5&amp;bl=566"><img src="http://media.blizzard.com/wow/icons/56/inv_boot_mail_raidshaman_p_01.jpg" alt="" /><span class="frame"></span></a> <a class="transmog-frame" data-item="t=78279&amp;cc=0" href="/wow/de/item/78279"></a> </div>
				</div>
			</div>
			<div data-id="10" data-type="11" class="slot slot-11 slot-align-right item-quality-4" style=" top: 232px; right: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/118307/quest-reward" class="item" data-item="e=5324&amp;pl=100&amp;cc=11&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_misc_6oring_redlv4.jpg" alt="" /><span class="frame"></span></a> </div>
				</div>
			</div>
			<div data-id="11" data-type="11" class="slot slot-11 slot-align-right item-quality-4" style=" top: 290px; right: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/124189/raid-heroic" class="item" data-item="e=5324&amp;pl=100&amp;cc=5&amp;bl=566"><img src="http://media.blizzard.com/wow/icons/56/inv_6_2raid_ring_1d.jpg" alt="" /><span class="frame"></span></a> </div>
				</div>
			</div>
			<div data-id="12" data-type="12" class="slot slot-12 slot-align-right item-quality-4" style=" top: 348px; right: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/113931/raid-mythic" class="item" data-item="pl=100&amp;cc=6&amp;bl=567"><img src="http://media.blizzard.com/wow/icons/56/inv_misc_trinket6oih_lanternb3.jpg" alt="" /><span class="frame"></span></a> </div>
				</div>
			</div>
			<div data-id="13" data-type="12" class="slot slot-12 slot-align-right item-quality-4" style=" top: 406px; right: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/124226/raid-heroic" class="item" data-item="g0=127760&amp;pl=100&amp;cc=5&amp;bl=564,566"><img src="http://media.blizzard.com/wow/icons/56/inv_guild_cauldron_b.jpg" alt="" /><span class="frame"></span></a> </div>
				</div>
			</div>
			
			
			<!-- weapon slots -->
			
			<!-- main -->
			<div class="slot slot-21 slot-align-right" data-id="16" data-type="22" style="left: 101.5px; bottom: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="javascript:;" class="empty"><span class="frame"></span></a> </div>
				</div>
			</div>
			
			<!-- off -->
			<div class="slot slot-22 slot-align-middle" data-id="22" data-type="22" style="left: 168.5px; bottom: 0px;">
				<div class="slot-inner">
					<div class="slot-inner-binding"></div>
					<div class="slot-contents"> <a href="javascript:;" class="empty"><span class="frame"></span></a> </div>
				</div>
			</div>
			
			<!-- range / relict -->
			<div class="slot slot-21 item-quality-4" data-id="21" data-type="21" style=" left: 441.5px; bottom: 0px;">
				<div class="slot-inner">
					<div class="slot-contents"> <a href="/wow/de/item/124361/raid-heroic" class="item" data-item="e=5276&amp;d=116&amp;t=78471&amp;pl=100&amp;cc=5&amp;bl=566"><img src="http://media.blizzard.com/wow/icons/56/inv_bow_1h_felfireraid_d_01.jpg" alt="" /><span class="frame"></span></a> <a class="transmog-frame" data-item="t=78471&amp;cc=0" href="/wow/de/item/78471"></a> </div>
				</div>
			</div>
			
			
			
			
		</div>
	</div>
	<div class="summary-lastupdate"> Letzte Aktualisierung am 09.07.2015 </div>
</div>

<div class="summary-bottom">
	<div class="summary-bottom-right">
		<div class="summary-talents" id="summary-talents">
			<h3 class="category "> <span class="title">Talente</span> <a name="talents" href="/wow/de/tool/talent-calculator#Yaa%212011222%21gdZQNj" target="_blank" class="talent-export">Im Talentplaner anzeigen <i class="fa fa-angle-right"></i></a> </h3>
			<div class="profile-box-simple">
				<div class="talent-specs" data-class-name="hunter">
					<a data-spec-id="0" class="spec-button spec-0 selected active" href="javascript:;">
						<span class="inner">
							<span class="frame">
								<span class="icon"><img src="http://media.blizzard.com/wow/icons/36/ability_hunter_bestialdiscipline.jpg" alt="" /></span>
							</span>
							<span class="roles">
								<span class="icon-dps"></span>
							</span>
							<span class="name-build">
								<span class="name ">Tierherrschaft</span>
							</span>
						</span>
					</a>
					<a data-spec-id="1" class="spec-button spec-1" href="javascript:;">
						<span class="inner">
							<span class="frame">
								<span class="icon"><img src="http://media.blizzard.com/wow/icons/36/ability_hunter_focusedaim.jpg" alt="" /></span>
							</span>
							<span class="roles">
								<span class="icon-dps"></span>
							</span>
							<span class="name-build">
								<span class="name ">Treffsicherheit</span>
							</span>
						</span>
					</a>
					<span class="clear"><!-- --></span>
				</div>
				<div class="talent-build selected" id="talent-build-0"></div>
				<div class="talent-build " id="talent-build-1"></div>
			</div>
		</div>
	</div>
	
	<div class="summary-bottom-left">
		<div class="summary-health-resource">
			<ul>
				<li class="health" id="summary-health" data-id="health"><span class="name">Gesundheit</span><span class="value">358440</span></li>
				<li class="resource-2" id="summary-power" data-id="power-2"><span class="name">Fokus</span><span class="value">120</span></li>
			</ul>
		</div>
		<div class="summary-stats-profs-bgs">
			<div class="summary-stats" id="summary-stats">
				<div id="summary-stats-advanced" class="summary-stats-advanced">
					<div id="summary-stats-spec0" class="summary-stats-specs">
						<div class="summary-stats-advanced-base">
							<div class="summary-stats-column">
								<h4>Allgemein</h4>
								<ul>
									<li> <span class="name">Beweglichkeit</span> <span class="value item-q2">5321</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Angriffskraft</span> <span class="value">5853</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Meisterschaft</span> <span class="value item-q2">33,22 %</span> <span class="clear"><!-- --></span> </li>
								</ul>
							</div>
						</div>
						<div class="summary-stats-advanced-role">
							<div class="summary-stats-column">
								<h4>
								<select id="summary-stats-changer">
									<option val="melee-stats">Nahkampf</option>
									<option val="range-stats">Distanzkampf</option>
									<option val="mage-stats">Zauber</option>
									<option val="defense-stats">Verteidigung</option>
									<option val="resist-stats">Widerstand</option>
								</select>
								</h4>
								<ul class="summary-stats-container" data-type="melee-stats">
									<li> <span class="name">Kritischer Trefferwert</span> <span class="value">33,52 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Tempo</span> <span class="value">2,54 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Mehrfachschlag</span> <span class="value">35,48 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Vielseitigkeit</span> <span class="value">0,98 %</span> <span class="clear"><!-- --></span> </li>
								</ul>
								<ul class="summary-stats-container" data-type="range-stats">
									<li> <span class="name">Kritischer Trefferwert</span> <span class="value">33,52 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Tempo</span> <span class="value">2,54 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Mehrfachschlag</span> <span class="value">35,48 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Vielseitigkeit</span> <span class="value">0,98 %</span> <span class="clear"><!-- --></span> </li>
								</ul>
								<ul class="summary-stats-container" data-type="mage-stats">
									<li> <span class="name">Kritischer Trefferwert</span> <span class="value">33,52 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Tempo</span> <span class="value">2,54 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Mehrfachschlag</span> <span class="value">35,48 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Vielseitigkeit</span> <span class="value">0,98 %</span> <span class="clear"><!-- --></span> </li>
								</ul>
								<ul class="summary-stats-container" data-type="defense-stats">
									<li> <span class="name">Kritischer Trefferwert</span> <span class="value">33,52 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Tempo</span> <span class="value">2,54 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Mehrfachschlag</span> <span class="value">35,48 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Vielseitigkeit</span> <span class="value">0,98 %</span> <span class="clear"><!-- --></span> </li>
								</ul>
								<ul class="summary-stats-container" data-type="resist-stats">
									<li> <span class="name">Kritischer Trefferwert</span> <span class="value">33,52 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Tempo</span> <span class="value">2,54 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Mehrfachschlag</span> <span class="value">35,48 %</span> <span class="clear"><!-- --></span> </li>
									<li> <span class="name">Vielseitigkeit</span> <span class="value">0,98 %</span> <span class="clear"><!-- --></span> </li>
								</ul>
							</div>
						</div>
						<div class="summary-stats-end"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<span class="clear"><!-- --></span>
	<div class="summary-bottom-sub-content">
		<div class="summary-bottom-right">
			<div class="profile-recentactivity">
				<h3 class="category "> <a href="feed" class="view-more">Letzte Aktivitäten <i class="fa fa-angle-right"></i></a> </h3>
				<div class="profile-box-simple">
					<!-- put here our reached achievments -->
					<span class="clear"><!-- --></span>
				</div>
			</div>
		</div>
		<div class="summary-bottom-left">
			<div class="summary-battlegrounds"> <a href="/wow/de/character/teldrassil/Neevi/pvp" class="link">PvP <i class="fa fa-angle-right"></i></a>
				<ul>
					<li class="rating"> <span class="value">0</span> <span class="name">Schlachtfeldwertung</span> </li>
					<li class="kills"> <span class="value">52028</span> <span class="name">Ehrenhafte Siege</span> </li>
				</ul>
			</div>
			<div class="summary-professions">
				<h3 class="category "> <a href="/wow/de/character/teldrassil/Neevi/profession/" class="view-more">Berufe <i class="fa fa-angle-right"></i></a> </h3>
				<ul>
					<li>
						<div class="profile-progress border-3 completed">
							<div class="bar border-3 hover" style="width: 100%"></div>
							<div class="bar-contents"> <a class="profession-details" href="/wow/de/character/teldrassil/Neevi/profession/alchemy"> <span class="icon"> <span class="icon-frame frame-12 "> <img width="12" height="12" src="http://media.blizzard.com/wow/icons/18/trade_alchemy.jpg" alt="" /> </span> </span> <span class="name">Alchemie</span> <span class="value">700</span> </a> </div>
						</div>
					</li>
					<li>
						<div class="profile-progress border-3 completed">
							<div class="bar border-3 hover" style="width: 100%"></div>
							<div class="bar-contents"> <a class="profession-details" href="/wow/de/character/teldrassil/Neevi/profession/enchanting"> <span class="icon"> <span class="icon-frame frame-12 "> <img width="12" height="12" src="http://media.blizzard.com/wow/icons/18/trade_engraving.jpg" alt="" /> </span> </span> <span class="name">Verzauberkunst</span> <span class="value">710</span> </a> </div>
						</div>
					</li>
				</ul>
			</div>
			<span class="clear"><!-- --></span>
		</div>
	</div>
	<span class="clear"><!-- --></span>
	<div id="summary-raid" class="summary-raid">
		<h3 class="category">Portal- und Raidkalender Statistiken</h3>
		<div class="profile-box-full">
		
			<!-- display the normal eqdkp stats stuff -->
			
			<!-- IF not S_POINTS_DISABLED -->
			<input type="checkbox" onchange="window.location='{SID}&with_twinks='+ ((this.checked) ? 0 : 1)" name="with_twinks" value="1" <!-- IF not S_WITH_TWINK_DKP -->checked="checked"<!-- ENDIF -->/> {L_points_for_this_char}
			<br /><br />
			<table class="table fullwidth hptt colorswitch scrollable-x borderless">
				{MEMBER_POINTS}
			</table>
			<br />
			<!-- ENDIF -->
			<div id='profile_information'>
				<ul>
					<!-- IF CUSTOM_FIELDS --><li><a href='#fragment-2-0'><span>{L_tab_customfields}</span></a></li><!-- ENDIF -->
					<li><a href='#fragment-2-1'><span>{L_tab_raids}</span></a></li>
					<li><a href='#fragment-2-2'><span>{L_tab_items}</span></a></li>
					<!-- IF not S_POINTS_DISABLED -->
					<li><a href='#fragment-2-3'><span>{L_tab_adjustments}</span></a></li>
					<!-- ENDIF -->
					<li><a href='#fragment-2-4'><span>{L_tab_attendance}</span></a></li>
				</ul>
			
				<!-- ALL PROFILE FIELDS TABLE -->
				<!-- IF CUSTOM_FIELDS -->
				<div id="fragment-2-0">
					<fieldset class="settings mediumsettings">
						<!-- BEGIN pfield_custom -->
						<dl>
							<dt><label>{pfield_custom.NAME}</label></dt>
							<dd>{pfield_custom.VALUE}</dd>
						</dl>
						<!-- END pfield_custom -->
					</fieldset>
				</div>
				<!-- ENDIF -->
			
				<!-- RAIDS TABLE -->
				<div id="fragment-2-1">
					<div class="tableHeader">
						<h2>{L_raid_attendance_history}</h2>
					</div>
					<table class="table fullwidth hptt colorswitch scrollable-x">
					{RAID_OUT}
					</table>
					<div class="center pagination_wrapper">
						{RAID_PAGINATION}
					</div>
				</div>
			
				<!-- ITEMS TABLE -->
				<div id="fragment-2-2">
					<div class="tableHeader">
						<h2>{L_item_purchase_history}</h2>
					</div>
					<table class="table fullwidth hptt colorswitch scrollable-x">
					{ITEM_OUT}
					</table>
					<div class="center pagination_wrapper">
						{ITEM_PAGINATION}
					</div>
				</div>
				
				<!-- IF not S_POINTS_DISABLED -->
				<!-- ADJUSTMENTS TABLE-->
				<div id="fragment-2-3">
					<div class="tableHeader">
						<h2>{L_individual_adjustment_history}</h2>
					</div>
					<table class="table fullwidth hptt colorswitch scrollable-x">
					{ADJUSTMENT_OUT}
					</table>
					<div class="center pagination_wrapper">
						{ADJUSTMENT_PAGINATION}
					</div>
				</div>
				<!-- ENDIF -->
			
				<!-- ATTENDANCE -->
				<div id="fragment-2-4">
					<table class="table fullwidth hptt colorswitch scrollable-x">
					{EVENT_ATT_OUT}
					</table>
				</div>
			</div>
			
			<!-- stop display of eqdkp stuff -->
			
		</div>
	</div>
	<span class="clear"><!-- --></span>

